@model NBSTimeReporting.DWorkin.Models.ViewModels.DWWLStatusesViewModel
@{
    ViewData["Title"] = "ListDWWLStatuses";
}

<h1>DWorkin WL Statuses</h1>

<a class="btn btn-sm btn-success" asp-controller="DWWLStatus" asp-action="Create">Create new Dworkin WL Status</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="DWorkin">Back to Dworkin</a>

<div class="badge">
    <table class="table table-responsive-sm table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DWWLStatuses[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DWWLStatuses[0].DWWLStatusName)
                </th>
                

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DWWLStatuses.OrderBy(dwl => dwl.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DWWLStatusName)
                    </td>
                    
                    <td>
                        <a class="btn btn-sm btn-success" asp-controller="DWWLStatus" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-success" asp-controller="DWWLStatus" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-controller="DWWLStatus" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

