@model NBSTimeReporting.Models.ViewModels.SettingsViewModel
@{
    ViewData["Title"] = "ListReportTypes";
}

<h1>Report Types</h1>

<a class="btn btn-sm btn-success" asp-controller="ReportTypes" asp-action="Create">Create new type</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Reporting">Back to Reporting</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportTypes[0].ReportTypeName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReportTypes.OrderBy(r => r.ReportTypeName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTypeName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="ReportTypes" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="ReportTypes" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="ReportTypes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>