@model IEnumerable<NBSTimeReporting.Models.AccountingModels.SallaryReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueToPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStatus.ReportStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueToPay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
