@model NBSTimeReporting.Offering.DataModels.Offer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeOffered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeOffered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeScheduledStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeScheduledStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeScheduledEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeScheduledEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KostHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KostHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KostMtrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KostMtrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Riskfaktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Riskfaktor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOfferAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOfferAmount)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListOffers">Back to Offers</a>
</div>
