@model NBSTimeReporting.DWorkin.Regus.DataModels.RegusTicket

@{
    ViewData["Title"] = "Details";
}



<div class="badge-light border-dark">
    <h4>
        RegusTicket # @Html.DisplayFor(model => model.RegusTicketNumber)
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.TicketPriorityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.TicketStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketType.TicketTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegusTicketNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegusTicketNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncidentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creator.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.SiteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Received)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Received)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receiver.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FEScheduled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FEScheduled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FEAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FEAssigned.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FEEntersSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FEEntersSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FEEExitsSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FEEExitsSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueResolved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueResolved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WLNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WLNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WLHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WLHours)
        </dd>
    </dl>
</div>
<div>
    <a class="btn tbn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn tbn-sm btn-success" asp-action="ListRegusTickets">Back to Regus tickets</a>
</div>
