@model NBSTimeReporting.Models.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "ListAccounts";
}

<h1>Accounts</h1>

<a class="btn btn-sm btn-success" asp-controller="Accounts" asp-action="Create">Create new Account</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Accounting">Back to Accounting</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].AccountName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts.OrderBy(a => a.AccountName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="Accounts" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Accounts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

