@model NBSTimeReporting.NetelloAB.Models.DataModels.NetelloInvoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NetelloInvoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegusTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegusTicket.IncidentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DWWorkLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DWWorkLog.WLNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WLHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WLHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceStatus.InvoiceStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoerNoxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoerNoxNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListNetelloInvoices">Back to Netello Invoices</a>
</div>
