@model NBSTimeReporting.Models.ViewModels.SettingsViewModel
@{
    ViewData["Title"] = "ListAccountStatuses";
}

<h1>Account Statuses</h1>

<a class="btn btn-sm btn-success" asp-controller="AccountStatus" asp-action="Create">Create new status</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Accounting">Back to Accounting</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatuses[0].AccountStatusName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AccountStatuses.OrderBy(p => p.AccountStatusName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountStatusName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="AccountStatus" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="AccountStatus" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="AccountStatus" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
