@model NBSTimeReporting.Models.ViewModels.SettingsViewModel
@{
    ViewData["Title"] = "ListSiteRoles";
}

<h1>Site Roles</h1>

<a class="btn btn-sm btn-success" asp-controller="SiteRoles" asp-action="Create">Create new role</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Sites">Back to Sites</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteRoles[0].SiteRoleName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SiteRoles.OrderBy(p => p.SiteRoleName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteRoleName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="SiteRoles" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="SiteRoles" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="SiteRoles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
