@model NBSTimeReporting.Models.ViewModels.TransactionsViewModel
@{
    ViewData["Title"] = "ListTransactionsAccountEva";
}

<h1>Transactions in Account: 13460604425 *Eva Saglind</h1>
<h4>Balance: @Model.Transactions.Sum(tr => tr.Amount)</h4>
<a class="btn btn-sm btn-success" asp-controller="Transactions" asp-action="Create">Create new Transaction</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Accounting">Back to Accounting</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].TransactionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].TransactionType.TransactionTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].TransactionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Amount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions.OrderByDescending(t => t.TransactionDateTime))
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType.TransactionTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Transactions" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Transactions" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


