@model NBSTimeReporting.Models.DataModels.Survey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAPs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAPs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APBrandModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APBrandModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APFloorMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APFloorMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetSpotReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetSpotReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedTestIMG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedTestIMG)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
