@model NBSTimeReporting.DWorkin.Models.DataModels.DWWorkLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DWWorkLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DWWLStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DWWLStatus.DWWLStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WLNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WLNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Technician.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.NoSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayOffHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOffHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToInvoiceHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToInvoiceHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OBH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OBH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WSatisfactionHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WSatisfactionHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListDWWorkLogs">Back to DWorkin WLs</a>
</div>
